---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CarouselPromos from '../components/CarouselPromos.astro';
import Footer from '../components/Footer.astro';
import ButtonMap from '../components/ButtonMap.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<section class="container mx-auto px-6 md:px-0 pt-[250px]">
			<CarouselPromos/>				
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
			<p>Nostrud incididunt excepteur exercitation voluptate ut nostrud sunt quis aliqua voluptate reprehenderit. Voluptate consectetur sunt cillum quis culpa ex exercitation sit labore in esse labore elit excepteur. Est anim veniam quis amet minim esse et aute excepteur consequat commodo proident. Amet dolore laborum enim amet quis dolor. Eiusmod nostrud duis sunt reprehenderit minim laborum dolor.</p>
		</section>
		<Footer/>
		<!-- <ButtonMap/> -->
	</main>
</Layout>