<div class="fixed left-[50%] translate-x-[-50%] bottom-6 group">
    <button id="view_map" type="button" class="flex text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-4 me-2 mb-2">
        Ver en el mapa
        <svg class="w-5 ml-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 6v16l7-4l8 4l7-4V2l-7 4l-8-4zm7-4v16m8-12v16"/>
        </svg>
    </button>
</div>