---
import Sidebar from "./Sidebar.astro";
import CarouselSections from "./CarouselSections.astro";

const secciones = [
    {
        'title': 'Populares',
        'icon': 'populares.svg',
        'active': true
    },
    {
        'title': 'Restaurantes',
        'icon': 'restaurante.svg',
        'active': false
    },
    {
        'title': 'Cafeterías',
        'icon': 'cafeterias.svg',
        'active': false
    },
    {
        'title': 'Club´s & Bares',
        'icon': 'club.svg',
        'active': false
    },
    {
        'title': 'Súper y Tiendas',
        'icon': 'super.svg',
        'active': false
    },
    {
        'title': 'Servicios',
        'icon': 'servicios.svg',
        'active': false
    },
    {
        'title': 'Hogar',
        'icon': 'hogar.svg',
        'active': false
    },
    {
        'title': 'Mascotas',
        'icon': 'mascotas.svg',
        'active': false
    },
    {
        'title': 'Salud',
        'icon': 'salud.svg',
        'active': false
    },
    {
        'title': 'Moda y Belleza',
        'icon': 'moda.svg',
        'active': false
    },
    {
        'title': 'Educación',
        'icon': 'educacion.svg',
        'active': false
    },
    {
        'title': 'Kids',
        'icon': 'kids.svg',
        'active': false
    },
    {
        'title': 'Arte y Cultura',
        'icon': 'arte.svg',
        'active': false
    },
    {
        'title': 'Inmobiliaria',
        'icon': 'inmobiliaria.svg',
        'active': false
    },
];
---
<header class="fixed w-full bg-white z-10 shadow-md">
    <section class="container mx-auto px-6 md:px-0 my-3 grid grid-cols-12">
        <div class="col-span-12 flex justify-between">
            <div class="flex items-center gap-1 md:gap-2">
                <button id="open_sidebar">
                    <svg class="w-5" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" d="M80 96h352v32H80zm0 144h352v32H80zm0 144h352v32H80z"/>
                    </svg>
                </button>
                <p class="text-med md:text-lg font-medium">Directorio</p>
            </div>
            <div class="flex gap-3">
                <button>
                    <svg class="w-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" d="M12 20.043a.977.977 0 0 1-.7-.288L4.63 13.08a5.343 5.343 0 0 1 1.423-8.567A5.266 5.266 0 0 1 12 5.371a5.272 5.272 0 0 1 5.947-.858a5.343 5.343 0 0 1 1.423 8.567l-6.676 6.675a.977.977 0 0 1-.694.288M8.355 4.963a4.015 4.015 0 0 0-1.844.437a4.4 4.4 0 0 0-2.389 3.243a4.345 4.345 0 0 0 1.215 3.73l6.675 6.675l6.651-6.675a4.345 4.345 0 0 0 1.215-3.73A4.4 4.4 0 0 0 17.489 5.4a4.338 4.338 0 0 0-4.968.852a.744.744 0 0 1-1.042 0a4.474 4.474 0 0 0-3.124-1.289"/>
                    </svg>
                </button>
                <button type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">Publica</button>
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Acceder</button>
            </div>
        </div>
    </section>
    <hr/>
    <section class="container mx-auto px-6 md:px-0 my-7">
        <div class="flex gap-4">
            <input type="text" id="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Cualquier negocio" required>
            <button class="flex flex-col gap-1 items-center justify-center">
                <svg class="w-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 6v16l7-4l8 4l7-4V2l-7 4l-8-4zm7-4v16m8-12v16"/>
                </svg>
                <p class="text-sm">Mapa</p>
            </button>
        </div>
    </section>
    <section class="container mx-auto px-6 md:px-0 mb-3">
        <CarouselSections sections={ secciones }/>
    </section>
</header>
<Sidebar/>